.recipe {
    margin-bottom: 2em;
}

.recipe__image {
    width:50vw;
    margin-bottom: 1em;
}

.recipe__title {
    text-decoration-line: underline;
    font-weight: bold;
    text-align: left;
}

.recipe__ingredients {
    display:flex;
    flex-direction: column;
    text-align: left;
    /* Back to the line */
    white-space: pre-line;
}

.recipe__steps {
    text-align: left;
    /* Back to the line */
    white-space: pre-line;
    margin-bottom: 1.5em;
}

.recipe__return-button {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow:grey 1px 1px 1px;
    padding: 0.3em;
    color:white;
    background-color: #04cc04;
}