.navigation-link__container {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow:grey 1px 1px 1px;
    padding: 0.7em;
    background-color: #c22900; 
    text-decoration: none;
}

.navigation-link__group {
    color:white;
}

.navigation-link__group:hover {
    font-weight: bold;
    color: white;
}

.navigationSubgroups__container {
    width:10em;
}