/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height:100%;
}

/* 
  On mobile device bigger than 500px, the following rules are valid
*/
@media screen and (min-width: 500px)
{
  body {
    font-size: 2em;
  }
}
