.App {
  text-align: center;
  width:100vw;
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

.header {
  background-color: #04cc04;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding-top: 1em;
  padding-bottom: 1em;
  width:100%;
}

.header__title {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
}

.header__logo {
  width: 18vw;
  height:3.5em;
}

.header__main {
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.header__tagline {
  width: 45%;
  text-align: center;
}

.header__image {
  width:40vw;
  height:5em;
}

.main {
  flex-grow: 1;

}

.footer {
  display: flex;
  padding: 0.7em;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #04cc04;

}

.footer__link {
  color: #04cc04;
  text-decoration: none;
}

.footer__link__sign {
  display:flex;
  flex-direction:column;
  justify-content: center;
}