.main {
    display:flex; 
    flex-direction:column;
    padding:1em; 

    /* To force this div to take its parent (App) full height */
    flex-grow: 1; 

    justify-content: center;
   
    /* To make the main content scroll behind the footer */
    overflow: auto;
    
    margin-bottom: 15vh;
}