.header {
  background-color: #04cc04;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  padding: 1em;
}
  
.header__title {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  margin-block-end:0px;
}

.header__EasyCook {
  width:70vw;
}

.header__logo {
  width: 12vw;
}

.header__main {
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.header__tagline {
  width: 45vw;
  text-align: center;
  font-size: 1em;
  /* Style to cancel default stylesheet */
  margin-block-start:0px;
  margin-block-end:0px; 
}

.header__image {
  width:35vw;
}
